[submodule "better-travel-api"]
	path = better-travel-api
	url = https://github.com/better-open-source/better-travel-api
[submodule "better-travel-bot"]
	path = better-travel-bot
	url = https://github.com/better-open-source/better-travel-bot
[submodule "better-travel-app"]
	path = better-travel-app
	url = https://github.com/better-open-source/better-travel-app
